.container {
	display:flex;
	justify-content: center;

}
header{
	background: #f2f2f2; 
justify-content: center;
}

.logo {
	display: flex;
	width: 18.75rem;
	height: 8.125rem;
	padding-right: 6.25rem;
	
			
}

.whats{
	align-self: center;
	font-family: verdana;
	margin-bottom: 1.25rem;
	padding-right:0.625rem;
}
.whats:hover{
	opacity: 0.5;

}
	


.fone{
	color: #B78327;
	text-decoration: none;
	font-weight: bold;
	font-family: verdana;
}

.fone:hover{
	opacity: 0.5;
	
} 
.foneul{
	align-self: center;
	margin-bottom: 3.187rem;
	
}
.bemVinda{
	align-items: initial;
	margin-top: 1.25rem;
	margin-bottom: 3.55rem;
	font-family: verdana;
	color:#804000;
	}



.entre {
	display: flex;
	color: #B78327;
	font-weight: bold;
	text-decoration: none;
	border-radius: 0.312rem;
	padding: 0.625rem 0.625rem;
	margin-bottom: 0.625rem;
	margin-top: 0.625rem;
	border-color:#B78327 ;
	border-style: solid;
	border-width: 0.187rem;
	font-family: verdana;
}


a.entre {
	justify-content: center;
}

.entre:hover{
	opacity: 0.5;

}
.cadastre{
color: #47476b;
font-family: verdana;
color:#804000;
}
.cadastre: hover{
text-decoration-color: #ff9900;/*rolou mas muda a cor não quando passa o mouse mas quando clica*/
}
.insta{
	display: flex;
	margin-top: 2.5rem;
	margin-right: 1.25rem;
	margin-left: 12.5rem;
	margin-bottom: 6.25rem;
	width:3.125rem;
	height:3.125rem;
}
.insta:hover{
	opacity: 0.5;
}

.bolsinha{
	display: flex;
	margin-top:1.875rem;
	margin-right: 1.25rem;
	margin-left: 1.25rem;
	margin-bottom: 6.25rem;
	width: 2.81rem;
	height: 3.25rem;
}
.bolsinha:hover{
	opacity: 0.5;
}

/*corpo*/
section.container{
	display:flex;
	justify-content: space-around;
	direction: row;
	align-items: center;
	margin-left:3.25rem;
	margin-bottom:3.25rem;
	margin-top: 3rem;
	font-family:verdana;
}

ul{
	padding-top: 0.625rem;
}
 
.preco1{
	margin-bottom: 0.625rem;
	color:#804000;
}

label, input{
	margin-top: 0.625rem;
	margin-bottom: 0.625;
	color:#804000;
}
.preco2{
	margin-top: 0.625rem;
	color:#804000;
}

footer.container{
	display:flex;
	justify-content: center;
	background: linear-gradient(#f2f2f2,#737373);
	/*background: #f2f2f2;*/ 
 	font-family:verdana; 
 	height:275px;     
}

.produto{
		display:flex;
		justify-content: center;
		direction:row;
		margin: 3.125rem 0.625rem 6.25rem;
}

.outros{
	text-align: center;
	padding-top:1.25rem;
	background: #f2f2f2;
	font-family: verdana;
	margin: 0 auto;
	color:#B78327;
	font-weight: bold;
}

#frete.frete{
	width: 140px;
}
.ok{
	border-color:#B78327;
	border-style: solid;
	border-width: 0.187rem;
	border-radius: 0.312rem;
}
.concluirCompra{
	border-color:#B78327;
	border-style: solid;
	border-width: 0.187rem;
	border-radius: 0.212rem;
}
.esqueciCep{
	margin-bottom: 0.625rem;
	margin-top: 0.625rem;
}
a{
color: #804000;
}

.continuar{
	margin-top: 0.625rem;

}
input{
	border-color:#B78327;
	border-style: solid;
	border-width: 0.187rem;
	border-radius: 0.212rem;
}
#tamanho{
	border-color:#B78327;
	border-style: solid;
	border-width: 0.187rem;
	border-radius: 0.212rem;
}
#quantidade{
	border-color:#B78327;
	border-style: solid;
	border-width: 0.187rem;
	border-radius: 0.212rem;
}

/*faz sumir ou aparerer algo só na tela grande*/
@media screen and (min-width: 768px){
		
		
		.cabecalhoEntre{
			display: none;
		}
		.entreMobile{
			display: none;
		}
		.cadstreMobile{
			display: none;
		}
				
		.logoMobile{
			display: none;
		}
		
		
}

/*faz sumir ou aparecer algo só na tela pequena*/
@media screen and (max-width: 768px){
		.whats{
			display: none;
		}
		.fone{
			display: none;
		}
		.foneul{
			display: none;
		}
		.bemVinda{
			display: none;
		}
		.entre{
			display: none;
		}
		a.entre{
			display: none;
		}
		.cadastre{
			display: none;
		}
		.insta{
			display: none;
		}
		
		.logo{
			display: none;
		}
		.bolsinha{
			display: none;
		}
		.outros{
			display: none;
		}
		footer.container{
			display: none;
		}

	
 .bolsinha2{
 		display:flex;
  		flex-direction:row;
  		margin: 1rem 0 0 1.5rem;
 		width: 3rem;
 		height: 3rem;
	justify-content: center;
		} 	

	
 .cabecalhoEntre {
font-family: verdana;
color:#804000;
}


.entreMobile {
	display: flex;
	color: #B78327;
	font-weight: bold;
	text-decoration: none;
	border-radius: 0.312rem;
	margin: 1rem  0.625rem;
	border-color:#B78327 ;
	border-style: solid;
	border-width: 0.187rem;
	font-family: verdana;
}


a.entreMobile {
	justify-content: center;
	align-self: center;

}

.entreMobile:hover{
	opacity: 0.5;

}



a.cadastreMobile{
color: #47476b;
font-family: verdana;
color:#804000;
padding-left: 1rem;
padding-right: 1rem;
}
.cadastreMobile: hover{
text-decoration-color: #ff9900;/*rolou mas muda a cor não quando passa o mouse mas quando clica*/
}
	
	
 	 .logoMobile{
  		display:flex;
			flex-direction: row;
			padding:0 2.5rem;
			width: 11rem;
 			height: 13rem;
 			justify-content: center;
 		 }
 		
 
 
section.container{
display: inherit;
display: grid;
grid-template-columns: auto auto;
grid-template-rows: auto auto auto auto;
margin-top: 2rem;
}

.sapatoEscolhido{
	grid-column: 1;
	grid-row: 1/ span 3;
}
form{
	grid-column: 2;
	
	
    
	
}
.ulPreco1{
	grid-column: 2;

}
.pagamento{
	margin-top: 3rem;
}

